/* h1 {
    text-align: center;
    color: #FD907B;
    font-size: 350%;
} */

p {
    margin-top: 10%;
    color: antiquewhite;
}

#hi {
    margin-top: 25%;
    text-align: center;
    color: #FD907B;
    font-size: 350%;
    font-family: 'Ubuntu', sans-serif;
}