p {
    margin-top: 10%;
    color: antiquewhite;
    font-size: 17px;
}

#hi {
    margin-top: 25%;
    text-align: center;
    color: #FD907B;
    font-size: 350%;
    font-family: 'Ubuntu', sans-serif;
}