p {
    /* margin-top: 10%; */
    color: antiquewhite;
    font-size: 1em;
}

#hi {
    margin-top: .5em;
    margin-bottom: .7em;
    text-align: center;
    color: #FD907B;
    font-size: 350%;
    font-family: 'Ubuntu', sans-serif;
}

.btn-cv { 
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center

}

.btn{
    margin:2%;
}