i {
    font-size: 100px;
    color: antiquewhite;
    padding: 6%;
    margin: auto;

}

.container {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
}

.habilidades {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #FD907B;
    font-size: 350%;
}