.contacto {
    background-color: #95D0DC ;
    padding: 2%;
}

.font {
    font-size: 40px;
    padding: 1%;
    color: black;
}

.container-fluid {
    flex-wrap: wrap;
}

.row {
    margin: auto;
}

footer {
    margin-top: 25%; 
}

.linkC {
    margin: auto;
}