#projects {
    text-align: center;
    color: #FD907B;
    font-size: 350%;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2.7em;
    margin-bottom: .7em;
}

.card {
    min-height: 446px;
    max-width: 18rem;
    margin-left: 15px;
    border-color: antiquewhite !important;
}

.container {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.card-body {
    background-color: black;
}

.btn-center {
    /* justify-content: center;
    align-items: center; */
    text-align: center;

}

button {
    border-color: #95D0DC !important;   
    color: antiquewhite !important;
}

a :hover {
    background-color: #95D0DC !important;
}

.card-title {
    color: #FD907B;
    text-align: center;
}
